.navbar{
    list-style: none;
    height: 64px;
    flex-wrap: nowrap;
    margin: 0;
}
.nav-icon{
    flex-basis: 25%;
    
}
.nav-icon img{
    display: block;
    margin: 0 auto;
    width: 35%;

}
section{
    border-bottom: 1px solid #EAE5E5;
}
.bold{
    font-weight: bold;
}
.banner{
    background-color: lightgrey;
}
.my-container{
    width: 90%;
    margin: 0 auto;
}
.lightgrey{
    background-color: lightgrey;
}
.normal{
    font-weight: normal;
}
.start-learning .btn{
    border-radius: 0;
    margin-top: 0.5rem;
}

@media (min-width: 768px){

    .left img{
        height: 48px;
    }
    .grey{
        color: rgb(187, 179, 179);
    }
    .right ul{
        list-style: none;
    }
    .right li{
        padding-left: 12px;
    }
    .right a{
        color: black;
        font-size: 1.1rem;
    }
}
@media (min-width: 1200px){
    .banner{
        padding: 2rem;
    }
    .my-container h3{
        font-size: 3rem;
    }
    .my-container h5{
        font-size: 2rem;
    }
    .my-container button{
        font-size: 1.5rem;
    }
    .my-card{
        display: flex;
    }
}
