.navbar{
    list-style: none;
    height: 64px;
    flex-wrap: nowrap;
    margin: 0;
}
.nav-icon{
    flex-basis: 25%;
    
}
.nav-icon img{
    display: block;
    margin: 0 auto;
    width: 35%;

}
section{
    border-bottom: 1px solid #EAE5E5;
}
.bold{
    font-weight: bold;
}
.banner{
    background-color: lightgrey;
}
.my-container{
    width: 90%;
    margin: 0 auto;
}
.lightgrey{
    background-color: lightgrey;
}
.normal{
    font-weight: normal;
}
.start-learning .btn{
    border-radius: 0;
    margin-top: 0.5rem;
}